
h2 {
	font-family: "Open Sans", "sans-serif";
	font-size: 35px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	color: #4f4f4f;	
	margin: 0;
	padding-top: 1em;
}

.top-padding{
	padding-top: 0.5em;
}

.sample{
	background-color: #ffffff;
}

.sample-logo{
	width: 270px;
	margin: 0;
	padding-top: 2em;

}

.sample-imgs{
	width:60%;
	height:auto;
	display: block;
	float:right;
	position: relative;
	margin:0;
	padding:0;
}

.sample-img{
	width: 100%;
}

.sample-small{
	width: 40%;
}

.small-inline{
	display: inline-block;
}

.sample-text{
	width:40%;
	height:auto;
	display: block;
	float:left;
	position: relative;
	margin:0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
}

.sample-break{
	padding-bottom: 0.5rem;
}

.sample-footer-section{
	text-align: left;
	font-size: 15px;
	background-color: #f5f5f5;
	clear: both;
}

/* ------------------  Arrows -----------------*/

.sample-pages{
	clear: both;
	float: right;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-right: 1.5em;
}

.arrow-left{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}

.arrow-right{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}

/*-------------------- Links ---------------*/

a:link,
a:visited,
a:active {
	color: #404143;
	text-decoration: none;
	font-weight: 700;
}

a:hover{
	color: #ed5a2a;
}

.sample-links li{
	font-family: "Open Sans", "sans-serif";
	font-weight: 500;
	display: inline-block;
	float: left;
	margin-right: 1.5rem;
	padding-top: 1em;
}

.sample-links li a{
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	line-height: 40px;
	color: #4f4f4f;
	text-transform: uppercase;
	text-decoration: none;
}


.sample-links{
	float: right;
}

/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 780px) {

.sample-logo{
	text-align: center;
	width: 300px;
	z-index: 3;
	padding-top: 3rem;
	display: inline;
}	

.sample-imgs{
	width:100%;
	float:none;
	padding-top: 1.5em;
}

.sample-text{
	float:none;
	width: 100%;
	text-align: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

hr{
	display: none;
}

h2{
	text-align: center;
}

.sample-pages{
	float: none;
	text-align: center;
}

.sample-links,
.sample-links li{
	float: none;
	text-align: center;
}

/* -------- 480 ------------ */

@media screen and (max-width: 480px) {
	
body {
	font: normal 75%/1.5 "open sans","sans serif";
}

.sample-links li{
	margin-right: 0;
	padding-left: 0;
}

}