.white {
	background-color: #f4f1ec;
}

.nav-work{
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	background-color: #404143;
	/*padding-top: 0.75em;*/
}

.nav-work a:hover {
    color: #404143;
}

.workText{
	width: 750px;
    margin: 0 auto;

}

.workMain{
	text-align: center;
	width: 700px;
	display: block;
}

.workSmall{
	text-align: center;
	width: 358px;
	display: inline-block;
	padding: 1em 0.5em;
}

.work-section {
	text-align: center;
	padding: 7rem 0 4rem;
}

.links1{
	position: fixed;
	width: 100%;
	height: 100px;
}

.links1 li{
	display: inline-block;
	float: right;
	margin-right: 0.3rem;
}

.links1 li a{
	display: inline-block;
	min-width: 70px;
	font-size: 16px;
	line-height: 50px;
	color: #EBE8DC;
	text-transform: uppercase;
	text-decoration: none;
}

.x {
	width: 50px;
}

.x-left {
	width: 50px;
	padding-top: 0.9rem;
	float: left; 
	margin-left: 1rem
}

.slogo-work{
	position: fixed;
	padding-top: 0.1rem;
	width: 90px;
}

.icons-work li{
	display: inline-block;
	float: right;

}

.footer-work{
	background-color: #E0522B;
}

.about-work {
	text-align: center;
	padding: 6rem 0 6rem;
}

/*------------------- Images ----------------*/

.raw1 {
	width: 100%;
}

.raw2 {
	width: 600px;
}

.raw-split {
	display: inline-block;
	width: 400px;
}

.main-img-work{
}

.raw{
	width: 350px;
	display: inline-block;
	/*margin: 0 1%;*/
}


.raw-big{
	width: 600px;
}

.raw-big-second{
	width: 703px;
}

.portfolio-section-single{
	text-align: center;
	padding: 2rem 0 5rem;

}

.portfolio-section-work{
	text-align: center;
	padding: 0.5rem 0 5rem;

}

.portfolio-section-first {
	text-align: center;
	padding: 3rem 0 0;
}

.portfolio-section-logo {
	text-align: center;
	padding: 8rem 0 5rem;
}

.sk-head{
	font-size: 50px;
	font-weight: 700;
	margin: 0;
	padding-top: 1rem;
}

.sk-text{
	margin: 0;
}

.sk-logo{
	width: 210px;
}

/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 1100px) {

.workMain{
	text-align: center;
	width: 650px;
}

.workSmall{
	width: 332px;
}

.workText{
	padding: 2em 1.5em;

}

.workText{
	width: 660px;
}


/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 900px) {

.workMain{
	text-align: center;
	width: 600px;
}

.workSmall{
	width: 308px;
}

.workText{
	width: 540px;

}


/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 750px) {

.workMain{
	text-align: center;
	width: 480px;
}

.workSmall{
	width: 247px;
}

.workText{
	width: 500px;

}

.raw{
	width:300px;
}

/* -------- 600 ------------ */

@media screen and (max-width: 600px) {
	
.workMain{
	text-align: center;
	width: 330px;
	padding-bottom: 1rem;
}

.workSmall{
	width: 341px;
}

.workText{
	width: 360px;
}

.raw-big{
	width:500px;
}


/* -------- 480 ------------ */

@media screen and (max-width: 480px) {
	
.workMain{
	text-align: center;
	width: 200px;
	padding-bottom: 1rem;
}

.workSmall{
	width: 210px;
}

.workText{
	width: 230px;
}

.links1 li{
	display: inline-block;
	float: right;
}

.links1 li a{
	font-size: 12px;
	line-height: 40px;
}

.links1{
	width: 100%;
	height: 100px;
}

.raw{
	width:300px;
}

.raw-big{
	width:300px;
}

@media screen and (max-width: 350px) {


.nav2{
	height: 80px;
}

.links1 li{
	display: inline-block;
	float: right;
	margin-right: -2rem;
}
}
