.white {
	background-color: #ffffff;
}

.links1 li{
	display: inline-block;
	margin-left: 4rem;
}

.links1 li a{
	display: inline-block;
	min-width: 100px;
	font-size: 1em;
	line-height: 50px;
	color: #EBE8DC;
	text-transform: uppercase;
	text-decoration: none;
}

.links1{
	position: fixed;
	width: 100%;
	height: 100px;
}

.nav2{
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	z-index: 999;
	padding-top: 0.75em;
	opacity: 1;
	background-color: #404143;
}

.workText{
	padding: 2em 6em;

}

.workMain{
	text-align: center;
	width: 700px;
	display: block;
}

.workSmall{
	text-align: center;
	width: 358px;
	display: inline-block;
	padding: 1em 0.5em;
}
