
h2 {
	font-family: "Open Sans", "sans-serif";
	font-size: 35px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	color: #4f4f4f;	
	margin: 0;
	padding-top: 1em;
}

.top-padding{
	padding-top: 0.5em;
}

.sample{
	background-color: #ffffff;
}

.sample-logo{
	width: 270px;
	margin: 0;
	padding-top: 2em;

}

.sample-imgs{
	width:60%;
	height:auto;
	display: block;
	float:right;
	position: relative;
	margin:0;
	padding-top:0;

}

.sample-img{
	width: 100%;
	padding-bottom: 1rem;
}

.sample-small{
	width: 40%;
}

.small-inline{
	display: inline-block;
}

.sample-text{
	width:40%;
	height:auto;
	display: block;
	float:left;
	position: relative;
	margin:0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
}

.sample-break{
	padding-bottom: 0.5rem;
}

.sample-footer-section{
	text-align: left;
	font-size: 15px;
	background-color: #f5f5f5;
	clear: both;
}

.work{
	text-align: center;
	padding-right: 15rem;
	padding-left: 15rem
}

.rule{
	padding-top: 2rem;
}



/* ------------------  Arrows -----------------*/

.sample-pages{
	clear: both;
	float: right;
	padding-top: 0.5em;
	padding-bottom: 2em;
	padding-right: 1em;
}

.arrow-left{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}


.arrow-right{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}

/*-------------------- Upper Arrows ---------------*/

.sample-pages-left{
	clear: both;
	float: left;
	padding-top: 0.5em;
	padding-bottom: 2em;
	padding-right: 1.5em;
}

.arrow-left-upper{
	width: 45px;
	padding-top: 0.5rem;
	margin-left: 0rem;
	display: inline;
}

.arrow-right-upper{
	width: 45px;
	padding-top: 0.5rem;
	margin-left: 1rem;
	display: inline;
}


/*-------------------- Links ---------------*/

a:link,
a:visited,
a:active {
	color: #D34312;
	text-decoration: none;
	font-weight: 700;
}

a:hover{
	color: #f4915c;
}

.sample-links li{
	font-family: "Open Sans", "sans-serif";
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-right: 1.5rem;
	padding-top: 1em;
}

.sample-links li a{
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	line-height: 40px;
	color: #EB511E;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}


.sample-links{
	float: right;
}

a.sample-links:hover{
	color: #938EC5;
}

a.ex1:link,
a.ex1:visited,
a.ex1:active {
	color: #4f4f4f;
	font-weight: 700;
	font-size: 13px;
}

a.ex1:hover{
	color:#fa957a;
}

a.example:link,
a.example:visited,
a.example:active {
	color: #000;
	font-weight: 700;
	font-size: 14px;
	padding-right: 5px;
	padding-left: 2px;
	text-decoration: underline;
}

a.example:hover{
	color:#f4915c;
}

.teaser-text {
    margin: 0 auto;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
}

/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 1500px) {

.work,
.teaser-text{
padding-left: 12rem;
padding-right: 12rem;
}

}


/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 1100px) {

.work,
.teaser-text{
padding-left: 8rem;
padding-right: 8rem;
}

}

/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 780px) {

.sample-logo{
	text-align: center;
	width: 300px;
	z-index: 3;
	padding-top: 3rem;
	display: inline;
}	

.sample-imgs{
	width:100%;
	float:none;
	padding-top: 1.5em;
}

.sample-text{
	float:none;
	width: 100%;
	text-align: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

hr{
	display: none;
}

h2{
	text-align: center;
}

.sample-pages{
	float: none;
	text-align: center;
	padding-bottom: 5rem;
}

.sample-links,
.sample-links li{
	float: none;
	text-align: center;
}

.work,
.teaser-text{
padding-left: 8rem;
padding-right: 8rem;
}

/* -------- 600 ------------ */

@media screen and (max-width: 600px) {
	
body {
	font: normal 75%/1.5 "open sans","sans serif";
}

.teaser-text {
    margin: 0 auto;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.work{
	text-align: center;
	padding-right: 4rem;
	padding-left: 4rem
}


/* -------- 480 ------------ */

@media screen and (max-width: 480px) {
	
body {
	font: normal 75%/1.5 "open sans","sans serif";
}

.sample-links li{
	margin-right: 0;
	padding-left: 0;
}

}