/* --- Colours
Secondary: #4f4f4f; (grey)
---- */


body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 "Open Sans","sans-serif";
	font-weight: 300;
	color: #404143;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

h1{
	font-family: Oswald, "sans-serif";
	font-size: 45px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-family: Oswald, "sans-serif";
	font-size: 45px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	color: #4f4f4f;	
}

h3 {
	font-family: Oswald, "sans-serif";
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #4f4f4f;
	letter-spacing: 3px;	
} 

h4 {
	text-align: center;
	font-size: 25px;
	font-weight: 300;
	margin: 0.25em 6.5%;
	color: #ffffff;
	font-family: Oswald, "sans-serif";
	text-transform: uppercase;
	letter-spacing: 2px;
}

a:link,
a:visited,
a:active {
	color: #f4f1ec;
}

a:hover{
	color:#404143;
}

.nav.scrolling {
	/*border-bottom-width: 0.25px;
	border-style: solid;
	border-bottom-color: #4f4f4f; */
	background-color: #ffffff;
	opacity: 0.9;
	-webkit-transition: all 800ms ease-out;
    -moz-transition: all 800ms ease-out;
    -o-transition: all 800ms ease-out;
    transition: all 800ms ease-out; 
}

.nav a:hover {
    color: #ed5a2a;
}

.nav{
	position: fixed;
	width: 100%;
	height: 65px;
	top: 0;
	z-index: 999;
	opacity: 0;
}

.nav-404 a:hover {
    color: #ed5a2a;
}

.nav-404{
	position: fixed;
	width: 100%;
	height: 85px;
	top: 0;
	z-index: 999;
	padding-top: 0.45em;
	background-color: #404143;
}

.links li{
	font-family: "Open Sans", "sans-serif";
	font-weight: 300;
	display: inline-block;
	float: left;
	margin-right: 1.5rem;
	padding-top: 1em;
}

.links li a{
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	line-height: 40px;
	color: #4f4f4f;
	text-transform: uppercase;
	text-decoration: none;
}

.slogo{
	width: 70px;
	float: left;
	margin: 0;
	padding: 0;
}


.links{
	float: right;
}


.logo{
	width: 400px;
	z-index: 3;
}

.arrow{
	width: 65px;
	padding-top: 5em;
}

.animated { 
	-moz-animation: 2s infinite; /* Firefox */
  	-webkit-animation:  2s infinite; /* Safari and Chrome */
 	-o-animation:  2s infinite; /* Opera */
    -webkit-animation: 2s infinite; 
    animation: 2s infinite; 

    -moz-animation-fill-mode: both; 
    -webkit-animation-fill-mode: both; 
    -0-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@-moz-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@-o-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

.logo-section {
	/*background: transparent url("../img/placeholder.jpg") no-repeat center top;
	background-size: cover; 
	padding: 6rem 0 8.5rem;
	z-index: 2; */
}

.workstuff:after {
    clear: both;
}

.workstuff:after,  
.workstuff:before {
    content: ' ';
    display: table;
}

.workstuff {
	zoom:1;
	margin-bottom: 0;

}

.workstuff ul {
	list-style-type: none;
}

.workstuff ul li {
	width:33.33%;
	height:auto;
	display: inline-table;
	float:left;
	position: relative;
	margin:0;
	padding:0;
}

.workstuff ul li img {
	width:100%;
}

.workstuff ul li .overlay {
    /*background-color: rgba(33, 35, 40, 0.95);*/
    background-color: #f4915c;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.workstuff ul li .overlay:hover {
    opacity:0.92;

}

.workstuff ul li .overlay summary {
    bottom: 30px;
    left: 60px;
    padding-right: 30px;
    position: absolute;
}

.workstuff ul li .overlay summary h2 {
    color: white;
    font: 100 20px/1em open-sans, sans-serif;
    padding-bottom: 15px;
}

.workstuff ul li .overlay summary h3 {
    color: #4f4f4f;
    font: 300 14px/1em open-sans, sans-serif;
    padding-top: 15px;
}

.about-section {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 3rem;
}


.dipper {
	width: 200px;
	opacity: 0;
}

.bold {
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
}

.space{
	padding-top: 1.5em;
}

.letter-spacing{
	letter-spacing: 5px;
}

.space-about{
	padding-top: 2em;
	padding-left: 24em;
	padding-right: 24em;
	line-height: 2;
}

.space-goodbye{
text-align: center;
padding-top: 48px;
padding-bottom: 38px;
}

/*.folio-section {
	text-align: center;
	padding: 5rem 0 1rem;
	background-color: #ffffff;
}

.folio2-section {
	display: none;
	background-color: #ffffff;
}

.portfolio-section {
	text-align: center;
	padding: 3rem 0 0;
	background-color: #ffffff;
}

.portfolio1-section {
	text-align: center;
	padding: 1.3rem 0 0;
	background-color: #ffffff;
}

.portfolio2-section {
	text-align: center;
	padding: 1.3rem 0 6rem;
	background-color: #ffffff;
}

.portfolio{
	width: 300px;
	display: inline-block;
	margin: 0 1%;
	background-color: #ffffff;*/
}

.js-designer-fade {
-webkit-animation: designer-fade 1s linear forwards;

}

@-webkit-keyframes designer-fade {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
	}
}

.me {
	width: 375px;
	display: inline-block;
	margin: 2em 1.5% 0.5em;
}

.designer{
	width: 120px;
	display: inline-block;
	margin: 3.5em 1%;
	opacity: 0;
}


.designer-section {
	background: transparent url("../img/placeholder1.jpg") no-repeat center;
	background-size: cover;
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 3.5rem 0 3.5rem;
}

.contact {
	text-align: center;
	font-size: 15px;
	display: inline-block;
	margin: 0.25em 6.5%;
	background-color: #f5f5f5;
}

.contact-section {
	text-align: center;
	background-color: #f5f5f5;
	padding: 2rem 0 2rem 0;
}

.contact1-section {
	text-align: center;
	background-color: #454545;
	padding: 1rem 0 1rem;
}

.connect1 {
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	margin: 0.25em 6.5% 0;
	color: #ffffff;
	letter-spacing: 1px;
}

.connect2 {
	text-align: center;
	font-size: 12px;
	margin: 2em 6.5% 1em;
	color: #ffffff;
	text-transform: uppercase;
}

.icons {
	display: inline-block;
	margin: 0 4.25%;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   position: relative;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   }

.fade:hover {
   opacity: 0.5;
}

.error-head {
	text-align: center;
	font-size: 50px;
	font-weight: 400;
	padding-top: 7rem;
	margin: 0;
}

.error-text{
	text-align: center;
	margin: 0;
}

.error-img{
	padding: 3rem 0;
	width: 450px;
}

.error{
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	margin: 0;
	padding: 0 0 3rem;
}

.error a:hover {
    color: #ed5a2a;
}

.error a{
	color: #404143;
	text-align: center;
	text-decoration: none;

}
/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 1080px) {

.workstuff ul li {
	width:50%;
}

}

@media screen and (max-width: 1100px) {

/*	
.portfolio {
	width: 250px;
}

.portfolio1-section,
.portfolio2-section {
} */

#about {
   margin: 0 auto;
   width: 700px;
}

.space-about{
	padding-top: 2em;
	padding-left: 7.5em;
	padding-right: 7.5em;
	line-height: 2;
}

}
/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 900px) {

.about-section {
	text-align: center;
	padding: 4rem 0 5rem;
}

#about {
   margin: 0 auto;
   width: 600px;
}

/*.portfolio {
	width: 200px;
}*/

.space-about{
	padding-top: 2em;
	padding-left: 6em;
	padding-right: 6em;
	line-height: 2;
}

}
/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 700px) {
	
body {
	font: normal 90%/1.5 "Open Sans","sans-serif";
}

.logo {
	width: 400px;
}

.logo-section {
	padding: 13rem 0;
}

h1,
.header,
.header1 {
	font-size: 40px;
}

.about-section {
	text-align: center;
	padding: 4rem 0 5rem;
}

#about {
   margin: 0 auto;
   width: 450px;
}

.me {
	width: 90px;
	display: inline-block;
	margin: 4em 1.5% 0.5em;
}

.designer{
	width: 70px;
	display: inline-block;
	margin: 1.5em 1%;
}

.designer-section {
	padding: 1.5rem 0 2rem;
}

.header {
	padding: 0 2rem;
}

.about {
	padding: 0 1.75rem;
}

.portfolio {
	width: 400px;
}

.portfolio1-section,
.portfolio2-section {
	padding: 0;
}

.spacer {
	padding-bottom: 6em;
}

.space-about{
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 5em;
	line-height: 2;
}

}

@media screen and (max-width: 640px) {

.workstuff ul li {
	width:100%;
}

}

/* -------- 480 ------------ */

@media screen and (max-width: 480px) {
	
body {
	font: normal 75%/1.5 "open sans","sans serif";
}

.logo {
	width: 275px;
}

.logo-section {
	padding: 8rem 0;
}

h1,
.header,
.header1 {
	font-size: 30px;
}

.about-section {
	text-align: center;
	padding: 2rem 0 3rem;
}

#about {
   width: 300px;
   margin: 0 auto;
}

.me {
	width: 70px;
	display: inline-block;
	margin: 4em 1.5% 0.5em;
}

.designer{
	width: 70px;
	display: inline-block;
	margin: 1.5em 1.5%;
}

.designer-section {
	padding: 1.5rem 0 2rem;
}

.header {
	padding: 0 2rem;
}

.about {
	padding: 0 1.75rem;
}

.portfolio {
	width: 250px;
}

.portfolio1-section,
.portfolio2-section {
	padding: 0rem 0 0;
}

.nav{
	padding-bottom: 0;
	margin: 0;

}

.links li{
	display: inline-block;
	margin-right: -1.25rem;
}

.links li a{
	font-size: 13px;
	line-height: 40px;
}

.links{
	height: 100px;
	padding-top: 0rem;
}

.error-img{
	padding: 3rem 0;
	width: 300px;
}

.space-about{
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	line-height: 2;
}

}

@media screen and (max-width: 350px) {

.links li{
	margin-right: -2rem;
}

.folio-section{
	padding: 5rem 3% 1rem;
}

.space-about{
	padding-left: 1em;
	padding-right: 1em;
}

}

@media screen and (max-width: 300px) {

.links li{
	font-size: 9px;
	margin-right: -2.5rem;
}

.error-img{
	padding: 3rem 0;
	width: 250px;
}

}

@media screen and (max-width: 270px) {

.links li{
	display:none;
}

}