h2 {
	font-family: "Open Sans", "sans-serif";
	font-size: 35px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	color: #4f4f4f;	
	margin: 0;
	padding-top: 1em;
}

.top-padding{
	padding-top: 0.5em;
}

.sample{
	background-color: #ffffff;
}

.sample-logo{
	width: 270px;
	margin: 0;
	padding-top: 2em;

}

.sample-imgs{
	width:60%;
	height:auto;
	display: block;
	float:right;
	position: relative;
	margin:0;
	padding:0;
}

.sample-img{
	width: 100%;
}

.sample-text{
	width:40%;
	height:auto;
	display: block;
	float:left;
	position: relative;
	margin:0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
}

.sample-break{
	padding-bottom: 0.5rem;
}

.sample-footer-section{
	text-align: left;
	font-size: 15px;
	background-color: #f5f5f5;
	clear: both;
}

.sample-pages{
	clear: both;
	float: right;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-right: 1.5em;
}

.arrow-left{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}

.arrow-right{
	width: 45px;
	padding-top: 0.7rem;
	margin-left: 1rem;
	display: inline;
}

a:link,
a:visited,
a:active {
	color: #4f4f4f;
	text-decoration: none;
	font-weight: 400;
}

a:hover{
	color:#000000;
}


}
/*------------------- Media Quiery ----------------*/

@media screen and (max-width: 780px) {
	
body {
	font: normal 90%/1.5 "Open Sans","sans-serif";
}

.logo {
	width: 400px;
}

h1,
.header,
.header1 {
	font-size: 40px;

}

.sample-imgs{
	width:100%;
	display: block;
	float:none;
	clear: both;
}

/* -------- 480 ------------ */

@media screen and (max-width: 480px) {
	
body {
	font: normal 75%/1.5 "open sans","sans serif";
}

.logo {
	width: 275px;
}

.logo-section {
	padding: 8rem 0;
}

h1,
.header,
.header1 {
	font-size: 30px;
}

.nav{
	padding-bottom: 0;
	margin: 0;

}

.links li{
	display: inline-block;
	margin-right: -1.25rem;
}

.links li a{
	font-size: 13px;
	line-height: 40px;
}

.links{
	height: 100px;
	padding-top: 0rem;
}

.space-about{
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
	line-height: 2;
}

}

@media screen and (max-width: 350px) {

.links li{
	margin-right: -2rem;
}

.space-about{
	padding-left: 1em;
	padding-right: 1em;
}

}

@media screen and (max-width: 300px) {

.links li{
	font-size: 9px;
	margin-right: -2.5rem;
}

}

@media screen and (max-width: 270px) {

.links li{
	display:none;
}

}

}